
Exercise 2/End/GDD/.vs/GDD/v15/*
Exercise 2/End/GDD/GDD.Core/bin/*
Exercise 2/End/GDD/GDD.Core/obj/*
Exercise 2/End/GDD/GDD.Droid/obj/*
Exercise 2/End/GDD/GDD.Droid/bin/*
Exercise 2/End/GDD/packages/*
Exercise 2/End/GDD/GDD.Touch/obj/*
Exercise 2/End/GDD/GDD.Touch/bin/*
Exercise 3/Start/GDD/.vs/GDD/v15/*
Exercise 3/Start/GDD/GDD.Core/bin/*
Exercise 3/Start/GDD/GDD.Core/obj/*
Exercise 3/Start/GDD/GDD.Droid/obj/*
Exercise 3/Start/GDD/GDD.Droid/bin/*
Exercise 3/Start/GDD/packages/*
Exercise 3/Start/GDD/GDD.Touch/obj/*
Exercise 3/Start/GDD/GDD.Touch/bin/*
Exercise 3/End/GDD/.vs/GDD/v15/*
Exercise 3/End/GDD/GDD.Core/bin/*
Exercise 3/End/GDD/GDD.Core/obj/*
Exercise 3/End/GDD/GDD.Droid/obj/*
Exercise 3/End/GDD/GDD.Droid/bin/*
Exercise 3/End/GDD/packages/*
Exercise 3/End/GDD/GDD.Touch/obj/*
Exercise 3/End/GDD/GDD.Touch/bin/*
Exercise 2/End/GDD/.vs/*
Exercise 3/End/GDD/.vs/*
